.wrapper{
    --search-height: 46px;
    --search-btn-width: 52px;
    --search-top-spacer: 9px;
    --search-border-radius: 92px;
    position: fixed;
    top: 0;
    left: 0;
    z-index:10;

    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    width: 100%;
    background-color:white;
}

.inner{
    width: var(--default-layout-width);
    height: var(--default-layout-header-height);    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
    
}

.logo-link{
    display: flex;
}


.custom-button{
    color: var(--primary);
}

.more-btn{
    font-size:2rem;
    margin-left: 28px;
    padding: 4px 8px 4px;
    background-color: transparent;
    cursor: pointer;
}

.actions{
    display: flex;
    align-items: center;
}

.action-btn{
    position: relative;
    display: flex;
    background-color: transparent;
    align-items: center;
    font-size: 2.2rem;
    padding: 4px 12px;
    color: rgba(22, 24, 35, 1.0);
    cursor: pointer;
}

.avatar-user{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 24px;
    cursor: pointer;
}


// so thong bao/tin nhan
.badge{
    position: absolute;
    background-color: var(--primary);
    font-size: 1.4rem;
    color: #fff;
    font-weight: 600;
    line-height:20px;
    min-width: 20px;
    height: 20px;
    border-radius:10px;
    left: 28px;
    top: -3px;

}



// Modal-content css
// .login-modal{
//     width: 483px;
//     height: var(--height-modal-body);
//     padding-top:48px;
//     // overflow: auto;
//     position: relative;
//     // overflow-y: scroll;

// }

// .login-container{
//     flex: 1 1 0%;
//     overflow-y: auto;
//     height: 522px;
//     height: calc(var(--height-modal-body) + -60px);
// }

// .login-wrapper{
//     width: 375px;
//     margin: auto;
//     position: relative;
//     // padding: unset;
    
    
// }

// .login-heading{
//     text-align: center;
    
// }

// .login-text{
//     color: rgb(22, 24, 35);
//     font-size:31px;
//     margin: 16px 0px;
//     font-weight: bold;

// }

// .login-item{
//     display: flex;
//     justify-content: center;
//     padding: 0px 12px;
//     height:42px;
//     align-items: center;
//     margin-bottom: 16px;
//     border: 1px solid rgba(22, 24, 35, 0.12);
//     cursor: pointer;
// }
// .login-icon{
//     font-size: 20px;
// }

// .login-item-title{
//     font-size:16px;
//     font-weight:600;
//     color: rgb(22, 24, 35);
//     flex: 1;
//     text-align: center;
// }
// .login-footer{
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     height:64px;
//     width: 100%;
//     background-color: white;
//     border-top: 1px solid rgba(22, 24, 35, 0.12);
//     display: flex;
//     justify-content: center;
//     align-items: center; 
    
// }

// .close-wrapper{
//     position: absolute;
//     top: 20px;
//     right: 20px;
//     width:40px;
//     height:40px;
//     background-color: rgba(22, 24, 35, 0.03);
//     border-radius:50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     cursor: pointer;
//     z-index: 1;
// }

// .close-icon{
//     font-size: 25px;
// }

// .signup-text{
//     color: var(--primary);
//     font-weight: 600;
//     cursor: pointer;
//     &:hover{
//         text-decoration: underline;
//     }
    
// }


